@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
    font-family:'Fira Mono', monospace;
    background-color: black;
    color: white;
}

/* create grid 1-2-2 */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links {
    font-family: 'Fira Mono', monospace;
    font-size: large;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: block;
    color: white; 
    width: 50%; 
}

.links:hover {
    background-color: white;
    color: black;
}

#img-container { 
    display: flex;
    justify-content: flex-end;
}

#about-me-img {
    width: 80%;
    height: 100%;
}

