@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.links {
    font-family: 'Fira Mono', monospace;
    font-size: large;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: block;
    color: black; 
    width: 10%; 
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links:hover {
    background-color: black;
    color: white;
}

#nav-container {
    
}

